{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock %}

{% block body %}

<!-- DASHBOARD JEFE RRHH -->
<main class="container d-flex flex-column justify-content-center align-items-center">
    <div class="text-center mb-4">
        <h1 class="display-4 fw-light titulo_dashboard_jefe">
            BIENVENIDO JEFE
        </h1>
        <hr class="w-25 mx-auto border-dark">
    </div>
    
    <div class="d-flex flex-column gap-3 ">
        <a href="/informe-horas-trabajadas" class="btn btn-lg px-5 py-3 text-white btn_sec_dashboard">
            INFORME HORAS TRABAJADAS
        </a>
        <a href="/informe-trabajadores" class="btn btn-lg px-5 py-3 text-white btn_prin_dashboard">
            INFORME TRABAJADORES
        </a>
    </div>
</main>

<!-- DASHBOARD PERSONAL RRHH -->
<section class="container-dashboard">
    <h1 class="dashboard-title">Bienvenido</h1>

    <!-- Botones -->
    <div class="d-flex flex-column gap-3">
        <!-- Llenar Ficha de Trabajador -->
        <a href="/llenar-ficha-trabajador" class="btn-rrhh">Llenar Ficha de Trabajador</a>

        <!-- Listar Trabajadores -->
        <a href="#" class="btn-rrhh">Listar Trabajadores</a>

        <!-- Modificar Trabajador -->
        <a href="#" class="btn-rrhh">Modificar Trabajador</a>

        <!-- Notificaciones -->
        <a href="#" class="btn-notificaciones">
            Notificaciones
            {% if notificaciones_pendientes %}
                <span class="notification-dot"></span>
            {% else %}
                <span class="notification-dot notification-dot-hidden"></span>
            {% endif %}
        </a>
    </div>
</section>

<!-- DASHBOARD TRABAJADOR -->
<section class="container d-flex flex-column justify-content-center align-items-center container-dashb-trabajador">
    <div class="text-center mb-4">
        <h1 class="display-4 fw-light titulo_dashboard_jefe">¿Qué vas a hacer?</h1>
        <hr class="w-25 mx-auto border-dark">
    </div>

    <div class="cont_btn_dashboard_trabajador">
        <!-- Botón: Modificar Datos Personales -->
        <a href="/modificar-datos-personales" class="btn btn-lg px-5 py-3 text-white btn_sec_dashboard">MODIFICAR DATOS PERSONALES</a>
        
        <!-- Botón: Modificar Cargas Familiares -->
        <a href="/seleccionar-cargas" class="btn btn-lg px-5 py-3 text-white btn_sec_dashboard">MODIFICAR CARGAS FAMILIARES</a>

        <!-- Botón: Modificar Contactos de Emergencia -->
        <a href="/seleccionar-contactos" class="btn btn-lg px-5 py-3 text-white btn_sec_dashboard">MODIFICAR CONTACTOS DE EMERGENCIA</a>
        
        <!-- Botón: MARCAR -->
        <a href="#" class="btn btn-lg px-5 py-3 text-white btn_prin_dashboard btn-marcar">MARCAR</a>
    </div>

</section>

{% endblock %}

