{% extends 'base.html' %}
{% load static %}

{% block title %}Datos Filtrados{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'styles/datos-filtrados.css' %}">
{% endblock %}

{% block body %}
<div class="container-resultados">
    <h1 class="text-center mb-4">DATOS FILTRADOS</h1>

    <!-- Botones de exportación -->
    <div class="d-flex justify-content-center mb-4">
        <a href="export_excel" class="btn btn-success btn-export">
            <i class="bi bi-file-earmark-excel"></i> Excel
        </a>
        <a href="?export_csv=1" class="btn btn-info btn-export text-white">
            <i class="bi bi-file-earmark-csv"></i> CSV
        </a>
    </div>

    <!-- Lista de trabajadores -->
    {% if trabajadores %}
        {% for trabajador in trabajadores %}
            <div class="card-trabajador">
                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="card-title">datos del trabajador</div>
                        <div>{{ trabajador.nombre_trabajador }}{{ trabajador.apellidos_trabajador }}</div>
                        <div class="card-subtitle">{{ trabajador.rut_trabajador }}</div>
                        <div class="card-subtitle">{{ trabajador.sexo_trabajador }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-title">Cargo</div>
                        <div>{{ trabajador.id_cargo }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-title">Departamento</div>
                        <div>{{ trabajador.departamento }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning text-center">
            No se encontraron resultados.
        </div>
        <!-- {% if horas_trabajadas %}
            <p>HORAS TRABAJADAS!!!</p>
        {% endif %} -->
    {% endif %}
</div>


{% endblock %}

